@define-color bar-bg rgba(0, 0, 0, 0);

@define-color main-bg #303446;
@define-color main-fg #c6d0f5;

@define-color wb-act-bg #f4b8e4;
@define-color wb-act-fg #303446;

@define-color wb-hvr-bg #f2d5cf;
@define-color wb-hvr-fg #303446;

* {
    border: none;
    font-family: "Iosevka Nerd Font";
    font-weight: bold;
    font-size: 14px;
    min-height: 10px;
}

window#waybar {
    background: @main-bg;
}

tooltip {
    background: @main-bg;
    color: @main-fg;
    border-radius: 7px;
    border-width: 0px;
}

#workspaces button {
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 9px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 0px;
    padding-left: 3px;
    padding-right: 3px;
    margin-right: 0px;
    color: @main-fg;
}

#workspaces button.active {
    background: @wb-act-bg;
    color: @wb-act-fg;
    margin-left: 3px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 3px;
}

#workspaces button:hover {
    background: @wb-hvr-bg;
    color: @wb-hvr-fg;
}

#taskbar button {
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 9px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 0px;
    padding-left: 3px;
    padding-right: 3px;
    margin-right: 0px;
    color: @wb-color;
}

#taskbar button.active {
    background: @wb-act-bg;
    color: @wb-act-color;
    margin-left: 3px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 3px;
}

#taskbar button:hover {
    background: @wb-hvr-bg;
    color: @wb-hvr-color;
}

#tray menu * {
    min-height: 16px
}

#tray menu separator {
    min-height: 10px
}

#backlight,
#power-profiles-daemon,
#battery,
#bluetooth,
#custom-cava,
#custom-cliphist,
#clock,
#clock,
#custom-cpuinfo,
#cpu,
#custom-github_hyde,
#custom-gpuinfo,
#custom-hyprsunset,
#idle_inhibitor,
#custom-keybindhint,
#language,
#memory,
#mpris,
#network,
#custom-notifications,
#custom-power,
#privacy,
#pulseaudio,
#custom-sensorsinfo,
#custom-spotify,
#taskbar,
#taskbar,
#taskbar,
#taskbar#windows,
#custom-theme,
#tray,
#custom-updates,
#custom-wallchange,
#custom-wbar,
#custom-weather,
#window,
#workspaces,
#workspaces,
#workspaces,
#custom-l_end,
#custom-r_end,
#custom-sl_end,
#custom-sr_end,
#custom-rl_end,
#custom-rr_end {
    color: @main-fg;
    background: @main-bg;
    opacity: 1;
    margin: 4px 0px 4px 0px;
    padding-left: 6px;
    padding-right: 6px;
}

#workspaces,
#taskbar {
}

#custom-r_end {
    margin-right: 9px;
    padding-right: 3px;
}

#custom-l_end {
    margin-left: 9px;
    padding-left: 3px;
}

#custom-sr_end {
    margin-right: 9px;
    padding-right: 3px;
}

#custom-sl_end {
    margin-left: 9px;
    padding-left: 3px;
}

#custom-rr_end {
    margin-right: 9px;
    padding-right: 3px;
}

#custom-rl_end {
    margin-left: 9px;
    padding-left: 3px;
}
